:root {
  /* cores */
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  /* greyscale */
  --dark-grey: #1F1F1F;
  --dark-grey-2: #474747;
  --dark-grey-3: #666666;
  --light-grey: #8F8F8F;
  --light-grey-2: #CCCCCC;
  --light-grey-3: #F5F5F5;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}